<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Все Задачи</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <h1>Список всех задач</h1>
    <ul id="tasks-list">
        <!-- Список задач будет загружен сюда -->
    </ul>

    <script>
        // Функция для получения всех задач через API
        async function fetchTasks() {
            const response = await fetch('/tasks/all/');
            const tasks = await response.json();

            const tasksList = document.getElementById('tasks-list');
            tasksList.innerHTML = '';  // Очистим список перед обновлением

            tasks.forEach(task => {
                const taskItem = document.createElement('li');
                taskItem.textContent = `ID: ${task.id}, Название: ${task.title}, Описание: ${task.description}`;
                tasksList.appendChild(taskItem);
            });
        }

        // Загружаем задачи, когда страница загружается
        window.onload = fetchTasks;
    </script>
</body>
</html>
